<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="bean1" c:toMock="org.test.mpashka.spring.web.TestBean" class="org.easymock.EasyMock" factory-method="createMock" primary="true"/>

    <context:component-scan base-package="org.test.mpashka.spring.web">
        <context:include-filter type="annotation" expression="org.springframework.beans.factory.annotation.Autowired" />
<!--        <context:exclude-filter type="" expression=""/>-->
    </context:component-scan>

</beans>
